In [2]:
states_file = "stateabbr.txt"
with open(states_file, 'r', encoding='latin-1') as input_file:
    data = input_file.readlines()
    # I removed the Us States, and Canada from original file
    # if line.strip() removes the blank lines and line.rstrip removes the \n character.
    lines = [line.rstrip('\n') for line in data if line.strip()]
    split_lines = [x.split(" ")[0] for x in lines]
    #print(split_lines)
    print(split_lines)

['ab', 'ak', 'ar', 'az', 'ca', 'co', 'ct', 'de', 'dc', 'fl', 'ga', 'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj', 'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 'or', 'pa', 'pr', 'ri', 'sc', 'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'vi', 'wa', 'wv', 'wi', 'wy', 'al', 'bc', 'mb', 'nb', 'lb', 'nf', 'nt', 'ns', 'nu', 'on', 'Prince', 'qc', 'sk', 'yt', 'dengl', 'fraspm']

In [182]:
# read the plants.data file to get the info about the plants, also drop the first column which is the names of the plants bcs we dont need.
df = pd.read_csv('plants.data', sep = ",", header=None, error_bad_lines=False, encoding = "ISO-8859-1", names = [x for x in range(71)]).drop(columns=[0])
df.head()

,1,2,3,4,5,6,7,8,9,10,...,61,62,63,64,65,66,67,68,69,70
0,fl,nc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fl,nc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ct,dc,fl,hi,il,ky,la,md,mi,ms,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ct,dc,fl,il,ky,la,md,mi,ms,nc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,hi,pr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
import pandas as pd
import numpy as np
split_lines.sort()
Final_Df = pd.DataFrame(0, index=np.arange(len(df)),columns = split_lines)
Final_Df.head()

,Prince,ab,ak,al,ar,az,bc,ca,co,ct,...,tx,ut,va,vi,vt,wa,wi,wv,wy,yt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [195]:

for index, row in df.iterrows():
    for element in row:
        if pd.isnull(element) : break
        # row index, element column so we change the value of the column thats named element from 0 to 1.index,
        Final_Df.at[index,element] = 1
        #Final_Df.loc[index].at[element] = 1 
# change the NaN values from 2 new last columns 
Final_Df = Final_Df.fillna(0)
#convert the 2 new last columns that weren't on the states text from float to int.
Final_Df[list(Final_Df)] = Final_Df[list(Final_Df)].astype(int)

In [196]:
Final_Df.head(10)

,Prince,ab,ak,al,ar,az,bc,ca,co,ct,...,va,vi,vt,wa,wi,wv,wy,yt,pe,gl
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,1,0,0,1,1,1,1,1,...,1,0,1,1,1,1,1,1,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,1,...,1,0,1,0,1,1,0,0,1,0
9,0,1,0,0,0,0,0,0,0,1,...,1,0,1,0,1,1,0,0,1,0